<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <th th:fragment="column_link(fieldName, columnLabel, removeTag)" th:remove="${removeTag}">
      <a class="text-white"
         th:href="@{'/users/page/' + ${currentPage} + '?sortField=' + ${fieldName} + '&sortDir=' + ${fieldName != sortField ? sortDir : reverseSortDir}
                               + ${null != keyword ? '&keyword=' + keyword : ''}}">
        [[${columnLabel}]]
      </a>
      <span th:if="${fieldName == sortField}"
            th:class="${'asc' == sortDir ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
    </th>

    <a th:fragment="page_link(pageNum, label)"
       class="page-link"
       th:href="@{'/users/page/' + ${pageNum} + '?sortField=' + ${sortField}
                    + '&sortDir=' + ${sortDir} + ${null != keyword ? '&keyword=' + keyword : ''}}">[[${label}]]</a>
</body>
</html>